
body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 200000px;
}

/* 커서 깜빡임 제거 */
* {
    caret-color: transparent;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* 메뉴바 */
nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    position: relative;
}

/* 아이콘 */
#icon-left, #icon-right {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px; /* 아이콘 크기 키우기 */
    cursor: pointer;
    z-index: 9999; /* 다른 요소 위에 표시 */
}

#icon-left {
    left: 20px;
}

#icon-right {
    right: 20px;
}

/* 아이콘 호버 효과 */
#icon-left:hover, #icon-right:hover {
    color: #ffcc00;
}

/* 활성 메뉴 항목 */
.active {
    color: #ffcc00 !important; /* 활성 메뉴 항목의 글자색 고정 */
}

/* 호버 시 */
nav ul li a:hover {
    color: #ffcc00;
}

/* 클릭 시 */
nav ul li a:active {
    background-color: #222;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center; /* 가운데 정렬 */
}

#left-area, #right-area {
    flex: 0 1 auto; /* 자동으로 너비 조정 */
}

#left-area {
    margin-right: 20px;
}

/* PV와 배우 설명을 가로로 배열하고 세로 정렬 */
.movie, .actor {
    display: flex;
    flex-direction: row; /* 가로로 배열 */
    align-items: center; /* 세로 정렬 */
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px; /* 아이템 간 간격 설정 */
}

/* 영화 포스터와 배우 정보를 가로로 배열 */
.movie img, .actor img {
    display: inline-block; /* 인라인 블록 요소로 설정하여 가로 정렬 */
    max-width: 100px; /* 이미지 최대 너비 설정 */
    height: auto;
    margin-right: 20px; /* 이미지 사이 간격 설정 */
    vertical-align: middle; /* 수직 가운데 정렬 */
}

.actor .info {
    display: inline-block; /* 인라인 블록 요소로 설정하여 가로 정렬 */
    margin: 0; /* 기존 마진 제거 */
    vertical-align: middle; /* 수직 가운데 정렬 */
}