table#main{
    width: 700px;
} 
table#main tr:nth-of-type(1) td{
	border-bottom: 1px solid balck;
}

table#main tr td:nth-of-type(1){
	padding-left: 10px; 
}

table#main tr td:nth-of-type(2),
table#main tr td:nth-of-type(3){
	padding-left: 10px;
	padding-right: 10px; 
}

#page_control{
	text-align: center;
	position: relative;
	margin-bottom: 100px
}
a{
	 text-decoration:none !important; 
}
#search {
    width : 200px;
    vertical-align: middle;
}

#select-box{
	margin-right: 10px;
}
#select-box,#search,#sbtn{
	height: 34px;
	margin-top: 5px;
}

#listsearch{
	width: 300px;	
	margin: 0 auto;
	text-align: right;	
}
.content-wrapper{
	max-width: 1300px;
	display: grid;
}
@media screen and (max-width: 991px) {
    .content-wrapper {
        grid-template-columns: 1fr !important;
    }
}
@media screen and (max-width: 991px) {
    .containe-fluid {
        border-width: 0;
        border-radius: 0;
    }
}
@media screen and (max-width: 991px) {
    .board-article {
        margin-right: 0;
        padding: 1rem 0 1rem 1rem;
    }
}


.page-item:first-child, .page-link{
	margin-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.pagination-wrapper {
    margin-top: .5rem;
    margin-bottom: 20px;
}
.pagination{
	margin: 0;
	text-align: center;
	flex-wrap: wrap;
	display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0;
}
.justify-content-center {
    justify-content: center !important;
}
.page-link {
    color: var(--color-text);
    background-color: var(--color-bg-main);
    border-color: var(--color-bd-outer);
    padding: .5rem .6rem;
}
.page-link{
	position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6;
}