body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.button {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #e0e0e0;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
#wordToGuess {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
#alphabetButtons {
    margin-top: 20px;
}
#result {
    margin-top: 20px;
    font-size: 18px;
}
#restartButton {
    display: none;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}
#restartButton:hover {
    background-color: #45a049;
}