<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="speaker" class="polymorphism.AppleSpeaker"/>
	<bean id="samsungTV" class="polymorphism.SamsungTV">
		<constructor-arg>
			<ref bean="speaker"></ref>
		</constructor-arg>
		<constructor-arg>
			<value>2700000</value>
		</constructor-arg>
	</bean>
</beans>