<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 1번 문제 -->
	<!-- <bean id="tv" class="polymorphism.SamsungTV"/>-->
	<!-- <bean id="tv" class="polymorphism.LgTV"/> -->
	
	<!-- 2번 문제 -->
<!-- 	<bean id="tv" class="polymorphism.SamsungTV" lazy-init="true" init-method="initMethod"
	destroy-method="destroyMethod"/> -->
	
	<!-- 3번 문제 -->
	<!-- 1.singleton--><bean id="tv" class="polymorphism.SamsungTV" scope="singleton"/> 
	<!-- 2.prototype--><!-- <bean id="tv" class="polymorphism.SamsungTV" scope="prototype"/> -->
</beans>
