body {
    margin: 0;
    padding: 0;
}
textarea, pre {
    font-family: Arial, sans-serif; /* 원하는 글꼴로 설정 */
}
.container {
    margin-top: 20px; /* Menubar와의 여백 조절 */
}

.board-content {
    margin-bottom: 15px; /* board-content와 comment-section 사이 여백 조절 */
}
.board-custom-content{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.comment, .reply, .edit-comment, .reply-form {
    position: relative;
    margin-left: calc(var(--depth, 0) * 20px);
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment-header, .edit-comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.comment-body {
    padding: 5px;
}

.comment-actions, .reply-actions {
    display: flex;
    gap: 5px;
}

.btn-custom {
    border: none;
    border-radius: 20px;
    background-color: #4CAF50; /* 기본 버튼 색상 */
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #45a049; /* 호버 시 버튼 색상 */
}

.btn-container {
    display: flex;
    gap: 5px;
}

.edit-form-header {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.edit-container, .comment-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.edit-container textarea, .comment-container textarea {
    width: 100%;
    border: none;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
}

.edit-container button, .comment-container button {
    bottom: 10px;
    right: 10px;
}

.edit-container textarea:focus, .comment-container textarea:focus {
    caret-color: auto;
    outline: none;
}

.comment-form-section {
    margin-top: 20px;
}

.submit-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
}

.btn-submit {
    visibility: hidden;
}

.submit-button button {
    flex-shrink: 0;
}

.comment-section {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-section h2 {
    margin: 0;
}

.create-post-button {
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    border: none;
}

.create-post-button:hover {
    background-color: #0b7dda;
}

.action-links {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px; /* 제목 위쪽에 위치시키고 마진을 줌 */
    margin-bottom: 10px; /* 제목과의 간격을 조정 */
    padding-right: 20px;
}
.post-header {
    padding: 10px 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #dcdcdc;
}

.post-title {
    font-size: 18px; /* 적당한 크기로 줄임 */
    display: flex;
    align-items: center;
    padding: 2.5px 0;
}

.notice-label {
    background-color: black;
    color: white;
    padding: 2px 8px;
    margin-right: 10px;
    border-radius: 5px;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  	padding-left: 10px;
    margin-bottom: 10px;
}

.post-author {
    font-weight: bold;
}

.post-info span {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}

/* 로딩 애니메이션 */
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 버튼의 로딩 상태 스타일 */
.button-container.loading,
.submit-button.loading,
.comment-header.loading {
    position: relative;
}

.button-container.loading .btn-submit,
.submit-button.loading .btn-submit,
.comment-header.loading .btn-submit {
    visibility: hidden;
}

.button-container.loading .loader,
.submit-button.loading .loader,
.comment-header.loading .loader {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content-wrapper {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem;
}

.board-article {
    width: 850px;
    background-color: var(--color-bg-main);
    margin-right: 1rem;
}

.board-article-list {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

/* 글작성 버튼 스타일 */
.create-post-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 10px; /* 검색 폼과 글작성 버튼 간격 설정 */
}

.create-post {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.create-post:hover {
    color: #fff;
    background-color: #0056b3;
}


.search-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* 페이지네이션 스타일 */
.pagination-wrapper {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}

.page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}



/* 추가된 스타일 */
.vrow {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: inherit;
}

.vrow-top, .vrow-bottom {
    display: flex;
    justify-content: space-between;
}

.vcol {
    padding: 5px;
}

.vcol.col-id {
    width: 50px;
    flex-shrink: 0;
}

.vcol.col-title {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vcol.col-author {
    width: 150px;
    flex-shrink: 0;
}

.vcol.col-time, .vcol.col-view {
    width: 100px;
    flex-shrink: 0;
}

.vrow-inner {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .vrow {
        flex-direction: row;
        align-items: center;
    }
    
    .vrow-inner {
        flex-direction: row;
        flex: 1;
    }
    
    .vrow-top, .vrow-bottom {
        flex-direction: row;
        flex: 1;
    }
    
    .vcol {
        padding: 5px 10px;
    }
}

@media (max-width: 767px) {
    .head {
        display: none;
    }
}

.content-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; /* 추가: 화면이 좁아지면 가로 스크롤바가 나타나게 설정 */
}

.board-article {
    flex: 1;
}

