table#main{
    width: 700px;
} 
table#main tr:nth-of-type(1) td{
    border-bottom: 1px solid black;
}

table#main tr td:nth-of-type(1){
    padding-left: 10px; 
}

table#main tr td:nth-of-type(2),
table#main tr td:nth-of-type(3){
    padding-left: 10px;
    padding-right: 10px;
}

#page_control{
    text-align: center;
    position: relative;
    margin-bottom: 100px
}

a{
     text-decoration:none !important; 
}

#search {
    width : 200px;
    vertical-align: middle;
}

#select-box{
    margin-right: 10px;
}

#select-box,#search,#sbtn{
    height: 34px;
    margin-top: 5px;
}

#listsearch{
    width: 300px;
    margin: 0 auto;
    text-align: right;
}

.content-wrapper{
    max-width: 1300px;
    display: grid;
}

@media screen and (max-width: 991px) {
    .content-wrapper {
        grid-template-columns: 1fr !important;
    }
}

@media screen and (max-width: 991px) {
    .containe-fluid {
        border-width: 0;
        border-radius: 0;
    }
}

@media screen and (max-width: 991px) {
    .board-article {
        margin-right: 0;
        padding: 1rem 0 1rem 1rem;
    }
}

.page-item:first-child, .page-link{
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination-wrapper {
    margin-top: .5rem;
    margin-bottom: 20px;
}

.pagination{
    margin: 0;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0;
}

.justify-content-center {
    justify-content: center !important;
}

.page-link {
    color: var(--color-text);
    background-color: var(--color-bg-main);
    border-color: var(--color-bd-outer);
    padding: .5rem .6rem;
}

.page-link{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

/* 추가된 스타일 */

.vcol {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    white-space: nowrap;
}

.col-id {
    width: 50px; /* 고정 너비 값으로 설정하여 번호 열의 크기 조정 */
}

.col-title {
    width: calc(100% - 200px); /* 제목의 너비를 나머지 공간으로 설정 */
}

.col-author {
    width: 100px; /* 작성자 열의 너비 조정 */
}

.col-time {
    width: 120px; /* 작성일 열의 너비 조정 */
    overflow: hidden;
    text-overflow: ellipsis; /* 텍스트 오버플로우 시 생략 표시(...) 추가 */
}

.col-view {
    width: 80px; /* 조회수 열의 너비 조정 */
}

.vrow-top, .vrow-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vrow-top {
    padding: 10px 0;
}

.vrow-bottom {
    padding: 5px 0;
}
