table#modify{
    width: 600px;
    height: 200px;
}
table#modify td:first-of-type{
    text-align: center;
}
table#modify td:not(:first-of-type){
    padding-left: 10px;
}

table#modify input:not(input[type="submit"],input[type="reset"],input[type="button"]){    
    height: 16px; /* 입력 박스 높이 고정 */
    line-height: 30px; /* 입력 박스 줄 간격 고정 */
}
table#modify input[type="number"]::-webkit-outer-spin-button,
table#modify input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}