body{
    user-select: none;
}
table,tr{
	margin: 0 auto;
    margin-top: 5%;
	border-radius: 10px 10px 10px 10px;
}
td{
	padding: 15px 0px 16px 0px;
}
caption {
  caption-side: top;
  text-align: center;
}

footer{
	margin-top: 5px;
}


table#login{
    width: 250px;  
}

table#login tr:last-of-type td{
    text-align: center;
}



#footer,footer{    
    text-align: center;
}


#btn{
  margin-top: 5px;
  margin-bottom: 5px;  
}
#search {
    width : 200px;
    vertical-align: middle;
}

#select-box{

	margin-right: 10px;
}
#select-box,#search,#sbtn{
	height: 34px;
	margin-top: 5px;
}
.navbar{
	width: 300px;
}

#menu{
	float:right;
}
#listsearch{
	
	margin: 0 auto;
	margin-bottom: 100px;
}






