body{
    user-select: none;
}
table,tr{
	margin: 0 auto;
    margin-top: 10%;
	border-radius: 10px 10px 10px 10px;
}
td{
	padding: 15px 0px 16px 0px;
}
caption {
  caption-side: top;
  text-align: center;
}

table#main{
    width: 500px;    
} 
table#register{
    width: 600px;
    height: 200px;
}
table#login{
    width: 250px;  
}
table#register td:first-of-type{
    text-align: center;
}
table#register td:not(:first-of-type){
    padding-left: 10px;
}
table#login tr:last-of-type td{
    text-align: center;
}
#footer,footer{    
    text-align: center;
}
footer{
	margin-top: 5px;
}

#btn{
  margin-top: 5px;
  margin-bottom: 5px;  
}
#search {
    height: 34px; 
    width : 200px;
    vertical-align: middle; 
}

#select-box{
	margin-right: 10px;
}
.navbar{
	width: 300px;
	margin: 0 auto;
}
table#register input:not(input[type="submit"],input[type="reset"],input[type="button"]){    
    height: 16px; /* 입력 박스 높이 고정 */
    line-height: 30px; /* 입력 박스 줄 간격 고정 */
}
.error-msg{
	font-size: 12px;
	padding-top: 4px;
	width: 171.2px;
	height: 5px;
	color: red;
}

table#register input[type="number"]::-webkit-outer-spin-button,
table#register input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


