body{
    user-select: none;
}
table#main{
    margin: 0 auto;
    margin-top: 10%;
    width: 500px;    
}
table#register{
    margin: 0 auto;
    margin-top: 10%;
    width: 600px;
    height: 200px;
}
table#login{
    margin: 0 auto;
    margin-top: 10%;
    width: 250px;  
}
table#register td:first-of-type{
    text-align: center;
}
table#register td:not(:first-of-type){
    padding-left: 10px;
}
table#login tr:last-of-type td{
    text-align: center;
}
footer{
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
}
#footer{    
    text-align: center;
}

#search {
    height: 15px; /* 원하는 높이로 설정 */
    vertical-align: middle; /* 수직 정렬 */
}


