<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- 1번 방법 -->
<!-- 	<bean id="bMICalculator" class="com.javalec.ex.BMICalculator">
		<property name="lowWeight" value="18.5"/>
		<property name="normal" value="23"/>
		<property name="overWeight" value="25"/>
		<property name="obesity" value="30"/>
	</bean> -->
	<!-- 2번 방법 -->
	<bean id="bMICalculator" class="com.javalec.ex.BMICalculator" 
		p:lowWeight="18.5" p:normal="23" p:overWeight = "25" p:obesity="30"/>
	
	<bean id="myInfo" class="com.javalec.ex.MyInfo">
		<property name="name" value="홍길동"/>
		<property name="height" value="187"/>
		<property name="weight" value="84"/>
		<property name="hobbys">
			<list>
				<value>수영</value>
				<value>요리</value>
				<value>독서</value>
			</list>
		</property>
		<property name="bmiCalculator" ref="bMICalculator"/>
	</bean>
</beans>